<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>APP_SERVER</name>
          <description>Determines which application server is used for the test.  App server will pass the test, while brokenappserver demonstrates an app server that will fail the tests.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>appserver</string>
              <string>brokenappserver</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>vagrant_executor</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># clean up old workspace screenshots
rm ${WORKSPACE}/*.png || echo &quot;No screenshots to remove&quot;

APACHE_ID=`docker run -d canarie/${APP_SERVER}`
TEST_STATUS=0
docker run --rm=true -u 1000 --link seleniumhub:seleniumhub --link ${APACHE_ID}:web -v ${WORKSPACE}:/workspace localhost:5000/canarie/test3selenium || TEST_STATUS=1

docker stop $APACHE_ID
docker rm $APACHE_ID

exit $TEST_STATUS</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.png</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.2-beta-4">
      <testResults>result_webtest.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
      <healthScaleFactor>1.0</healthScaleFactor>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>