<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>vagrant_executor</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp -rv /vagrant/cidemo/containers/test3selenium/* ${WORKSPACE}

APACHE_ID=`docker run -d canarie/appserver`
TEST_STATUS=0
docker run --rm=true --link seleniumhub:seleniumhub --link ${APACHE_ID}:web -v ${WORKSPACE}:/workspace localhost:5000/canarie/test3selenium || TEST_STATUS=1

docker stop $APACHE_ID
docker rm $APACHE_ID

exit $TEST_STATUS</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.2-beta-4">
      <testResults>result_webtest.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
      <healthScaleFactor>1.0</healthScaleFactor>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>